{% extends "appFamiliares/padre.html" %}

{% load static %}

{% block contenido_que_cambia %}

 <!-- ======= Team Section ======= -->
 <section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Destacados</h2>
      <p>¡Estos son nuestros campeones destacados!</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/1.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Lionel Messi</h4>
            <span>El mejor jugador del mundo</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/2.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Alexis Mac Allister</h4>
            <span> </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/3.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Julian Alvarez</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/4.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Cuti Romero</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="600">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/5.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Rodrigo De Paul</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="700">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/6.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Emiliano Martinez</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="800">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/7.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Angel Di Maria</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="900">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/8.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Paulo Dybala</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="1000">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/9.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Enzo Fernandez</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="1100">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/10.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Marcos Acuña</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="1200">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/11.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Lizandro Lopez</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="1300">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/12.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Nahuel Molina</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="1400">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/13.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Gonzalo Montiel</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="1500">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/14.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Nicolas Otamendi</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="1600">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/15.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Alejandro Gomez</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="1700">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/16.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Leandro Paredes</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="1800">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/18.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Nicolas Tagliafico</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="1900">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/19.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Lautaro Martinez</h4>
            <span></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="2000">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'appFamiliares/img/team/individuales/png/177.png' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
              <a href=""><i class="bi bi-star"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Lionel Scaloni</h4>
            <span></span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

{% endblock %}